{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<table style="width:100%">
 
 
  <tr>
    <td><a href ="sale4"><img src="/static/media/sale4.jpeg"class="center" ></a><br><p><a href="sale4">Just 120 nis</a></p></td>
    <td><a href ="sale5"><img src="/static/media/sale5.jpeg" class="center" ></a><br><p><a href="sale5">Just 400 nis</a></p></td>
    <td><a href ="sale6"><img src="/static/media/sale6.jpeg" class="center" ></a><br><p><a href="sale6">Just 180 nis</a></p></td>
  </tr>
  
</table>

{% endblock %}