{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}


  {% block title %}
  <h1>home</h1>
  {% endblock %}
  {% block content %}
  <table style="width:100%">

    <tr>
      <td><a href="sale1"><img src="/static/media/sale1.jpg" class="center"></a><br>
        <p><a href="sale1">Just 200 nis</a></p>
      </td>
      <td><a href="sale2"><img src="/static/media/sale2.jpeg" class="center"></a><br>
        <p><a href="sale2">Just 200 nis</a></p>
      </td>
      <td><a href="sale3"><img src="/static/media/sale3.jpeg" class="center"></a><br>
        <p><a href="sale3">Just 50 nis</a></p>
      </td>
    </tr>
    <tr>
      <td><a href="sale4"><img src="/static/media/sale4.jpeg" class="center"></a><br>
        <p><a href="sale4">Just 120 nis</a></p>
      </td>
      <td><a href="sale5"><img src="/static/media/sale5.jpeg" class="center"></a><br>
        <p><a href="sale5">Just 400 nis</a></p>
      </td>
      <td><a href="sale6"><img src="/static/media/sale6.jpeg" class="center"></a><br>
        <p><a href="sale6">Just 180 nis</a></p>
      </td>
    </tr>

  </table>
  {% endblock %}


